/* Common stuff */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    color: #004d40;
}

.App {
    background-color: white;
    height: 100vh;
}

.btn {
    color: #004d40;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 55%;
    }
}

/* Book stuff */
.book-container {
  
}


/* Navbar stuff */
.nav-wrapper {
    background-color: white;
}

.dropdown-content {
    top: 100% !important;
    width: 200px !important;
    font-size: 1.6rem;
    height: auto !important;
}

.dropdown-content li p{
    text-align: left;
    padding-left: 10px;
    line-height: 50px;
    margin: 0;
    font-weight: bold;
}

.dropdown-content li a{
    text-align: left;
    line-height: 50px;
    padding: 0 0 0 10px;
}

li button i {
    margin: 0 20px 0 !important;
}

#mobile-href-button{
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}


/* Account stuff */
.account-container {
    padding-top: 20px;
}

.href-button {
    background: none!important;
    border: none;
    cursor: pointer;
    padding: 0 0 0 10px;
    line-height: 50px;
    color: #00897b;
}

.plaintext:hover {
    background-color: white !important;
    cursor: default;
}


/* Search stuff */

.search-container {
    margin-top: 20px;
}


/* Suggestion stuff */
.suggestion {
    min-height: 100px;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 0px;
}

.suggestion:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}


.thumbnail {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    top: 0;
    bottom: 0;
    margin: auto;
}

.suggetion-title {
    font-weight: bold;
    margin: 20px 0 0;
}

.suggestion-author {
    font-size: 1.4rem;
    margin: 10px 0 0;
}


/* Book stuff */
.book-container {
    margin-top: 20px;
    text-align: center;
}

/* 
darker teal: 004d40 ---> rgba(0, 137, 123, 1)
lighter teal: 00897b
*/